.home {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(40,50,60);
    width: calc(100vw - 125px);
    height: calc(100vh - 125px);
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
}