.nav {
    align-items: center;
    margin-bottom: 25px;
}

.nav button {
    background: rgb(180,190,200);
    justify-content: center;
    align-items: center;
    color: rgb(40,50,60);
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    /* transition: background-color 0.5s ease, color 0.5s ease; */

    margin: 10px;
}

.nav button:hover{
    background-color: gold;
    color: rgb(40,50,60);
    border: none;
    /* transform: scale(1.1, 1.1); */
}