.nav {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.deselectedcat {
    background: rgb(180,190,200);
    justify-content: center;
    align-items: center;
    color: rgb(40,50,60);
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    margin: 10px;
}

.selectedcat {
    background-color: gold;
    justify-content: center;
    align-items: center;
    color: rgb(40,50,60);
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    margin: 10px;
}

.nav button:hover{
    background-color: gold;
    color: rgb(40,50,60);
    border: none;
}