.search {
    width: 65%;
    /* margin: 4rem 0 2rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.75rem;
    border-radius: 3rem;
    background-color: white;
    font-family: Arial, sans-serif;
  
    border: 1px solid white;
    margin-bottom: 50px;
  }
    
  .search input {
    flex: 1;
    border: none;
    font-size: 24px;
    padding: 10px;
    outline: none;
    color: black;
    background: white;
  }
    
  .search img{
    width: 35px;
    height: 35px;
    cursor: pointer;
  }