.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(40,50,60);
  padding: 4rem; 
  align-items: center;
  width: calc(100vw - 125px);
  height: calc(100vh - 125px);
  flex-wrap: wrap;
}

body{
  background-color: rgb(40,50,60);
  margin: 0;
  font-family: "Georgia", serif;
}