.App {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(40,40,40);
}

body{
  padding:0;
  margin: 0;
}